.card {
  width: 100%;
  height: 35vh !important;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-top: auto;
}
